@page "/ticketprocessingvietns/delete"
@using Microsoft.EntityFrameworkCore
@using FFHRRequestSystem.Entitites.VietN.Models
@inject IDbContextFactory<FFHRRequestSystem.Repositories.VietN.DBContext.FA25_PRN222_3W_PRN222_01_G4_FacilityFeedbackHelpdeskRequestSystemContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>TicketProcessingVietN</h2>
    <hr />
    @if (ticketprocessingvietn is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ProcessingCode</dt>
            <dd class="col-sm-10">@ticketprocessingvietn.ProcessingCode</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">TicketReference</dt>
            <dd class="col-sm-10">@ticketprocessingvietn.TicketReference</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ProcessingTypeVietNid</dt>
            <dd class="col-sm-10">@ticketprocessingvietn.ProcessingTypeVietNid</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ProcessingAction</dt>
            <dd class="col-sm-10">@ticketprocessingvietn.ProcessingAction</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ActionDescription</dt>
            <dd class="col-sm-10">@ticketprocessingvietn.ActionDescription</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">RelatedTicketCode</dt>
            <dd class="col-sm-10">@ticketprocessingvietn.RelatedTicketCode</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">PriorityLevel</dt>
            <dd class="col-sm-10">@ticketprocessingvietn.PriorityLevel</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@ticketprocessingvietn.Status</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">OverdueDays</dt>
            <dd class="col-sm-10">@ticketprocessingvietn.OverdueDays</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">EscalationLevel</dt>
            <dd class="col-sm-10">@ticketprocessingvietn.EscalationLevel</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">IsAutoProcessed</dt>
            <dd class="col-sm-10">@ticketprocessingvietn.IsAutoProcessed</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ProcessedBy</dt>
            <dd class="col-sm-10">@ticketprocessingvietn.ProcessedBy</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ProcessedDate</dt>
            <dd class="col-sm-10">@ticketprocessingvietn.ProcessedDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ResolvedNote</dt>
            <dd class="col-sm-10">@ticketprocessingvietn.ResolvedNote</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CreatedDate</dt>
            <dd class="col-sm-10">@ticketprocessingvietn.CreatedDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ModifiedDate</dt>
            <dd class="col-sm-10">@ticketprocessingvietn.ModifiedDate</dd>
        </dl>
        <EditForm method="post" Model="ticketprocessingvietn" OnValidSubmit="DeleteTicketProcessingVietN" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(ticketprocessingvietn is null)">Delete</button> |
            <a href="/ticketprocessingvietns">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private TicketProcessingVietN? ticketprocessingvietn;

    [SupplyParameterFromQuery]
    private Guid TicketProcessingVietNid { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        ticketprocessingvietn = await context.TicketProcessingVietNs.FirstOrDefaultAsync(m => m.TicketProcessingVietNid == TicketProcessingVietNid);

        if (ticketprocessingvietn is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteTicketProcessingVietN()
    {
        using var context = DbFactory.CreateDbContext();
        context.TicketProcessingVietNs.Remove(ticketprocessingvietn!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/ticketprocessingvietns");
    }
}
