@model FFHRRequestSystem.Entitites.VietN.Models.TicketProcessingVietN

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TicketProcessingVietN</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessingCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessingAction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessingAction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelatedTicketCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelatedTicketCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriorityLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriorityLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverdueDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverdueDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EscalationLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EscalationLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAutoProcessed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAutoProcessed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResolvedNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResolvedNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessingTypeVietN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessingTypeVietN.TypeCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TicketProcessingVietNid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
